#headerWrapper {
  background-color: #003580;
  width: 100%;
}

#homepageWrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: 1.5rem 5rem;
  color: #212121;
  @media screen and (max-width: 376px) {
    padding: 1.5rem 1rem;
  }
}
