#hotel-wrapper {
  --sidebar-width: 250px;
  margin-left: var(--sidebar-width);
  padding: 1rem;
}

.delete-btn,
.edit-btn {
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  background-color: #fff;
}

.delete-btn {
  color: red;
  border: 1px solid red;
}

.edit-btn {
  color: green;
  border: 1px solid green;
  margin-right: 5px;
}
