#popupWrapper {
  padding: 12px 10px;
  background-color: #febb02;
  border-radius: 8px;
  font-size: 14px;
  min-width: 260px;
  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}

#popupWrapper .popupHeading {
  font-size: 24px;
  font-weight: bold;
  color: #5a5852;
}

.searchCombo {
  @media screen and (max-width: 1024px) {
    display: flex;
    gap: 1rem;
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.searchInputs {
  width: 100%;
}

.searchInputs .input {
  width: 100%;
  padding: 8px 5px;
  color: #000;
  font-size: 16px;
  margin-bottom: 5px;
  background-color: #fff;
}

.searchInputs .span {
  height: 37px;
  padding: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.optionInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.optionInput span {
  color: #5a5852;
}

.optionInput input {
  width: 70px;
  padding: 5px;
  color: #000;
  border: 1px solid #5a5a5a;
}

.inputLabel {
  margin: 6px 0;
  font-weight: 500;
}

.searchBtn {
  background-color: #0071c2;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin-top: 16px;
}
